<div class="container-small wrapper">
  <h1 class="headline headline--2">About FeedGist</h1>
  <p>
    FeedGist is developed by Bartek Mis, head of development as <a target="_blank" href="https://www.biggerpicture.agency">Bigger Picture</a>, a digital design agency in the UK and Poland. Originally intended as a Progressive Web App demo, we’ve decided to release it to the public to see how useful people find it. Enjoy!
  </p>
</div>

<div class="container-small">
  <md-card>
    <md-card-content>
      <h2 class="headline headline--2">Send us a message</h2>
      <p>
        If you have spotted a bug or you have an idea how to improve FeedGist - message us. We love to hear any feedback!
      </p>

      <form (ngSubmit)="sendMessage()">
        <md-input-container class="md-input-container md-input-container--full-width">
          <textarea mdInput [(ngModel)]="form.message" name="message" placeholder="Message" [disabled]="loading" required></textarea>
        </md-input-container>

        <button md-raised-button type="submit" [disabled]="loading">Send</button>
      </form>
    </md-card-content>
  </md-card>
</div>