<div class="container-small wrapper">
  <h1 class="headline headline--2">About FeedGist</h1>
  <p>
    Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
  </p>
</div>

<div class="container">
  <md-card>
    <md-card-content>
      <h2 class="headline headline--2">Send us a message</h2>
      <p>
        If you have spotted a bug or you have an idea how to improve FeedGist - message us. We love to hear any feedback!
      </p>

      <form (ngSubmit)="sendMessage()">
        <md-input-container class="md-input-container md-input-container--full-width">
          <textarea mdInput [(ngModel)]="form.message" name="message" placeholder="Message" [disabled]="loading"></textarea>
        </md-input-container>

        <button md-raised-button type="submit" [disabled]="loading">Send</button>
      </form>
    </md-card-content>
  </md-card>
</div>