.list {

    &__item {
        @media all and (max-width: 767px) {
            margin-top: 1em;
        }

        @media all and (min-width: 768px) {
            width: 48%;
            float: left;
            margin: 1%;
        }
    }
}

.post {
    &__author {
        color: inherit;
        text-decoration: none;
    }

    &__image {
        display: block;
        width: 100%;
        margin-bottom: 1em;

        background-position: center center;
        background-size: cover;

        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.8;
        }

        @media all and (max-width: 600px) {
            margin-top: 1em;
        }

        @media all and (max-width: 899px) {
            height: 150px;
        }

        @media all and (min-width: 900px) {
            height: 300px;
        }
    }

    &__content {
        margin-top: 10px;
    }

    &__publisher {
        font-weight: 600;
    }

    &__buttons {
        .mat-button {
            color: #777;
        }
    }
}

:host /deep/ .post__content a {
    color: #00b09d;
    transition: all 0.2s ease;

    &:hover {
        color: #00766a;
    }
}