.settings {
  padding: 4em 0 200px 0;
}

.search {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  padding: 0.5em;
  background-color: #3bd3d7;

  &__field {
    width: 100%;

    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5em;

    font-size: 0.9em;
    color: #666;
    text-align: center;
    transition: all 0.2s ease;

    &:focus {
      text-align: left;
    }
  }
}