<div class="navbar">
  <div class="container">
    <a [routerLink]="['/feed']">
      <img class="navbar__logo" src="/assets/logo.svg" alt="FeedGist">
    </a>

    <div class="navbar__icons navbar__icons--left navbar__icons--navy">
      <button [routerLink]="['/about']" md-icon-button>
        <md-icon>info</md-icon>
      </button>
    </div>

    <div class="navbar__icons navbar__icons--right">
      <button [routerLink]="['/feed/settings']" md-icon-button>
        <md-icon>settings</md-icon>
      </button>

      <button [routerLink]="['/settings']" md-icon-button>
        <md-icon>notifications_on</md-icon>
      </button>
    </div>
  </div>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>