RewriteEngine on

# not rewrite css, js and images
RewriteCond %{REQUEST_URI} !\.(?:css|js|map|jpe?g|gif|png)$ [NC]
RewriteRule ^(.*)$ /index.html?path=$1 [NC,L,QSA]

# force WWW if user on non-www
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^feedgist.io [NC,OR]
RewriteCond %{HTTP_HOST} ^www.feedgist.io [NC]
RewriteRule ^(.*)$ https://www.feedgist.io/$1 [L,R=301]

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^feedgist.io [NC]
RewriteRule ^(.*)$ https://www.feedgist.io/$1 [L,R=301]
