RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*) /index.html [NC,L]

# force WWW if user on non-www
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^feedgist.io [NC,OR]
RewriteCond %{HTTP_HOST} ^www.feedgist.io [NC]
RewriteRule ^(.*)$ https://www.feedgist.io/$1 [L,R=301]

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^feedgist.io [NC]
RewriteRule ^(.*)$ https://www.feedgist.io/$1 [L,R=301]
