/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
@import '~normalize.css/normalize.css';

html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

html,
body,
button {
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html, 
body {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #3BE4DF 15%, #3B5999 100%);
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #3BE4DF 15%, #3B5999 100%);
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #3BE4DF 15%, #3B5999 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(15, #3BE4DF), color-stop(100, #3B5999));
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #3BE4DF 15%, #3B5999 100%);
    background-image: radial-gradient(ellipse farthest-corner at center, #3BE4DF 15%, #3B5999 100%);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #555;
}

%containerCommonStyles {
    position: relative;
    margin: 0 auto;
}

.app-root {
    color: #fff;
}

.container {
    @extend %containerCommonStyles;
    width: 90%;
    max-width: 1180px;
    overflow: hidden;
}

.container-small {
    @extend %containerCommonStyles;
    width: 80%;
    max-width: 400px;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

@import 'scss/_masonry';
@import 'scss/_headline';
@import 'scss/_information';
@import 'scss/_page';
@import 'scss/_category';
@import 'scss/_loading';

snack-bar-container {
    height: auto !important;
    color: #fff;
    box-sizing: border-box !important;
    padding: 14px 10px !important;
    margin-left: auto;
    margin-right: auto;
}

img.ng2-lazyloaded {
    animation: fadein .5s;
}
        
.cdk-overlay-pane {
    width: 95%;
}

.mat-radio-label {
    align-items: flex-end;
    margin-right: 20px;
}

.mat-select {
    margin: {
        top: 40px;
        bottom: 40px;
    }
}

.vertical-middle {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}