.information {
  margin: 0.5em 0 1.5em 0;
  color: #666;

  &--white {
    padding: 1em;
    background-color: rgba(#fff, 0.9);
  }

  p,
  li {
    margin: 0;
    color: #888;
    font-size: 0.9em;
  }
}