%selectedOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: 'done';

    font-family: 'Material Icons';
    font-size: 2.2em;
    line-height: 1.4;
}

.page {
    position: relative;
    display: inline-block;
    vertical-align: top;

    width: 70px;
    padding: 0 5px;
    text-align: center;

    &__name {
        white-space: -moz-pre-wrap !important;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        white-space: -webkit-pre-wrap;
        word-break: break-word;
        white-space: normal;
    }

    &--selected {
        &:after {
            @extend %selectedOverlay;
            background-color: rgba(#fff, 0.8);
            color: #3b659f;
        }

        &Black {
            &:after {
                @extend %selectedOverlay;
                background-color: rgba(#323232, 0.8);
                color: #fff;
            }
        }
    }
}